In [ ]:
import pandas as pd

Criando o DataFrame e exibindo ele no seu formato normal e como string.

In [ ]:
titanic_df = pd.read_csv('../database/titanic.csv')
#print(f'DataFrame csv: {titanic_df}\n')
#print(f'DataFrame str: {titanic_df.to_string()}')

vendo as colunas e os indexs

In [ ]:
print(f'Columns: {titanic_df.columns} \n Indexs: {titanic_df.index}')

vendo as 5 primeiras linhas e 5 ultimas

In [ ]:
print(titanic_df.head(5), end='\n\n')
print(titanic_df.tail(5), end='\n\n')

trabalhando com Series

In [13]:
ages = titanic_df['Age']
print(ages, end='\n\n')
print(ages.max())

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

80.0

tenho uma overview dos dados numericos com .describe()

In [14]:
titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200